.logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    &__wrapper,
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text,
    &__link,
    &__heading {
        text-align: center;
        color: $primary-bg-color;
    }

    &__heading {
        @include font( 700, $h1-fs);

    }

    &__link {
        @include font( 500, $p1-fs);
        text-decoration: none;
    }

    &__redirect {
        @include font( 700, $h2-fs);
        text-decoration: underline;
    }

    &__input {
        &-wrapper {
            position: relative;
            height: 75px;
        }

        &-error {
            top: 53px;
            position: absolute;
            color: $invalid-color;
            text-align: center;
            text-decoration: underline;
            &::before {
                display: inline;
                content: "⚠ ";
            }
        }
    }
}

@media (max-width:550px) {
    .logIn {
        &__heading {
            font-size: $h3-fs
        }

        &__link {
            font-size: $p2-fs
        }

        &__redirect {
            font-size: $p1-fs;
        }
    }
}