$primary-text-color:#FFFFFF;
$secondary-text-color:#1B3764;

$primary-bg-color:#1B3764;
$secondary-bg-color:#FFCA42;
$third-bg-color:#B4C7E7;
$fourth-bg-color:#F4F8FF;
$invalid-color:#ff4848;
$valid-color:#FBDA73;


$h1-fs:36px;
$h2-fs:30px;
$h3-fs:24px;
$p1-fs:20px;
$p2-fs:16px;
