@import './reset';
@import './vars';
@import './mixins';

.App {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@import './header';
@import './mainPage';
@import './footer';
@import './error';
@import './logIn';
@import './favourites';
@import './profilePage';
@import './pageNotFound';
@import './genreList';
@import './genre';
@import './genreItem';
@import './slider';
@import './sliders';
@import './booksList';
@import './bookCard';
@import './loader';
@import './modal';
